<form [formGroup]="subjectForm" (ngSubmit)="save()" >
  <div class="form-group">
    <label for="id_name">Nombre</label>
    <input formControlName="name" class="form-control" id="id_name">
    <span *ngIf="nameField.hasError('required') &&
                nameField.touched && nameField.dirty">
      {{ nameField.errors.required }}
    </span>
  </div>
  <div class="form-group">
    <label for="id_instructor">Instructor</label>
    <input formControlName="instructor" class="form-control" id="id_instructor">
  </div>
  <div class="form-group">
    <label for="id_vacancies">Vacantes</label>
    <input formControlName="vacancies" type="number" class="form-control" id="id_vacancies">
  </div>
  <div class="form-group">
    <label for="id_start">Inicio</label>
    <input formControlName="start" type="date" class="form-control" id="id_start">
  </div>
  <div class="form-group">
    <label for="id_end">Fin</label>
    <input formControlName="end" type="date" class="form-control" id="id_end">
  </div>

  <div class="form-group">
    <label for="id_active">Activo</label>
    <input formControlName="active" type="checkbox" class="form-control" id="id_active">
  </div>

  <div class="text-center">
    <button
      [disabled]="subjectForm.invalid"
      class="btn btn-sm btn-info"
      type="submit">Guardar</button>
  </div>
</form>
