<!--
<div>{{ title | uppercase }}</div>
<div>{{ title | lowercase }}</div>
<div>{{ title | titlecase }}</div>

<div>{{ subject }}</div>
<div>{{ subject | json }}</div>

<div>{{ today }}</div>
<div>{{ today | date:'dd-MM-yyyy' }}</div>

<div>{{ description }}</div>
<div>{{ description | slice:0:10 }}</div>

<div>{{ promise }}</div>
<div>{{ promise | async }}</div>
-->

<div class="container py-2">
  <router-outlet></router-outlet>
</div>



