<div>
  <button routerLink="/subject-form"
          class="btn btn-sm btn-primary">
    Agregar
  </button>
</div>

<table class="table table-bordered table-sm">
  <thead>
  <tr>
    <th>Curso</th>
    <th>Instructor</th>
    <th>Vacantes</th>
    <th>Inicio</th>
    <th>Fin</th>
    <th>Activo</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let subject of subjects">
    <td>{{ subject.name }}</td>
    <td>{{ subject.instructor }}</td>
    <td>{{ subject.vacancies }}</td>
    <td>{{ subject.start | default: '-' }}</td>
    <td>{{ subject.end | default: '-' }}</td>
    <td [innerHtml]="subject.active | yesno:'Activo':'Inactivo'" ></td>
    <td>
      <button [routerLink]="['/subject-form', subject.id]"
              class="btn btn-sm" >
        Editar
      </button>
      <button (click)="delete(subject.id)"
              class="btn btn-sm" >
        Eliminar
      </button>
    </td>
  </tr>
  </tbody>
</table>
